.layout-wrapper {
    background-image: url("../media/image/background.png") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100vh;
}

.page-left {
    position: relative;
}

.logo {
    height: 48vh;
}

.logo-live {
    font-family: 'Bangers', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 210px;
    line-height: 130%;
    text-transform: uppercase;
    color: rgba(249, 135, 0, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 3%;
    left: 25%;
}
.logo-football {
    font-family: 'Bangers', cursive;
    width: 345px;
    height: 143px;
    font-style: normal;
    font-weight: normal;
    font-size: 130px;
    line-height: 130%;
    text-transform: uppercase;
    color: rgba(249, 135, 0, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 30%;
    left: 38%;
}

.ball {
    height: 52vh;
    padding-left: 24%;
}

.ball-line {
    padding: 3% 0;
    display: flex;
    align-items: center;
}

.ball-text {
    font-family: 'Bangers', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.store {
    position: relative;
    display: flex;
    align-items: center;
    height: 26%;
}

.ball-img {
    margin-right: 13%;
    cursor: pointer;
}

.google-play {
    position: absolute;
    right: 42%;
    cursor: pointer;
}

.app-store {
    position: absolute;
    right: 13%;
    cursor: pointer;
}

.tablet {
    position: absolute;
    top: 52%;
    left: 15%;
    z-index: 10;
}

.mobile {
    position: absolute;
    top: 62%;
    left: 37%;
    z-index: 100
}

.lap-top {
    position: absolute;
    right: 6%;
}

@media only screen and (max-width: 1400px) {
    .layout-wrapper {
        background-image: url("../media/image/background_1200.png") ;
    }

    .logo-live {
        font-size: 130px;
        position: absolute;
        top: 5%;
        left: 18%;
    }

    .logo-football {
        font-family: 'Bangers', cursive;
        font-size: 80px;
        line-height: 130%;
        position: absolute;
        top: 26%;
        left: 33%;
    }
    .logo {
        height: 44vh;
    }

    .ball {
        height: 56vh;
        padding-left: 18%;
    }

    .ball-line {
        padding: 4% 0;
        display: flex;
        align-items: center;
    }

    .ball-img {
        width: 18px;
    }


    .ball-text {
        font-family: 'Bangers', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 130%;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .google-play-img {
        width: 183px;
    }
    .app-store-img {
        width: 173px;
    }

    .store {
        height: 36%;
    }
    .app-store {
        top: 25%;
    }
    .google-play {
        top: 20%;
    }
    .lap-top {
        width: 619px;
        right: 0;
    }
    .tablet {
        width: 176px;
        top: 60%;
        left: 25%;
    }
    .mobile {
        width: 69px;
        top: 74.5%;
        left: 45%;
    }
}

@media only screen and (max-width: 1300px) {
    .layout-wrapper {
        background-image: url("../media/image/backgroun_1368.png") ;
    }

    .logo-live {
        font-size: 150px;
        position: absolute;
        top: 4%;
        left: 18%;
    }

    .logo-football {
        font-family: 'Bangers', cursive;
        font-size: 100px;
        line-height: 130%;
        position: absolute;
        top: 28%;
        left: 33%;
    }
    .logo {
        height: 48vh;
    }

    .ball {
        height: 52vh;
        padding-left: 18%;
    }

    .ball-line {
        padding: 4% 0;
        display: flex;
        align-items: center;
    }

    .ball-img {
        width: 18px;
    }


    .ball-text {
        font-family: 'Bangers', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 130%;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .google-play-img {
        width: 183px;
    }
    .app-store-img {
        width: 173px;
    }

    .store {
        height: 38%;
    }
    .app-store {
        top: 27%;
    }
    .google-play {
        top: 23%;
    }
    .lap-top {
        width: 619px;
        right: 0;
    }
    .tablet {
        width: 176px;
        top: 60%;
        left: 15%;
    }
    .mobile {
        width: 69px;
        top: 74.5%;
        left: 37%;
    }
}

